.video-list {
  --width: calc(250px * 1);
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(100% - (100% / var(--width)));
}

@media (max-width: 768px) {
  .video-list {
    margin: 4rem 0;
  }
}






/* @media (max-width: 1200px) {
  .video-list{
    max-width: 75%;
  }
}

@media (max-width: 1000px) {
  .video-list{
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .video-list{
    max-width: 85%;
  }
} */