.card {
  width: 250px;
  margin: 0.5rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.card-video-thumbnail {
  width: 100%;
}

.card-details {
  padding: 0.2rem 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-details > p {
  margin: 0;
  text-align: left;
}

.card-title {
  display: block;
  width: calc(100%);
  line-height: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  max-height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: white-space;
}

.card-channel-title {
  color: #aaaaaa;
  font-size: 0.95rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.card-video-stats {
  color: #aaaaaa;
  line-height: 1.4rem;
  font-weight: 400;
  font-size: 0.85rem;
}
