.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    height: 3.2rem;
    background: #252525;
    color: white;
    text-decoration: none;
    position: fixed;
    width: 100%;
    top: 0
}

.header-logo{
    font-size: 1.8rem;
    font-weight: bold;
}