@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.App {
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  background: #181818;
  margin: 0;
}

.body-container {
  margin-top: 3.2rem;
  margin-left: 7.5rem;
  margin-right: 4rem;
}

.section-heading {
  font-weight: 500;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .body-container {
    margin-left: 0;
    margin-right: 0;
  }
}