@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: white;
}

body {
  background: #181818;
  margin: 0;
}

.body-container{
  margin-top: 3.5rem
}
